:root {
  --navbar-colour: lightsteelblue; /*bisque, floralwhite, #df633a;*/
  --footer-sidebar-colour: #7a527a; /*#58210e;*/
  --sidebar-text-colour: floralwhite;
  --main-link-hover-colour: plum;
  --data-panel-a-colour: #f5eff5; /*floralwhite;*/
  --data-panel-b-colour: #edf2f7;  /*#ecdfec; */ /*#e6fee6*/  /*#edf2f7*/
  --data-panel-c-colour: #e6fee6;
}

body {
  position: relative;
  min-height: 100%;
  min-height: 100vh;
}

footer {
    width: 100%;
    font-size: 1.0em;
    margin-top: 10px;
    padding: 8px 8px;
    position: absolute;
    right: 0;
    left: 0;
    vertical-align: middle;
}


@media (max-width: 374px) {
    .logo {
        display: none;
    }
    .altair_card {
        width: 80%;
    }
}

@media (max-width: 649px) {
    .footer_container_large {
        display: none;
    }
}

@media (min-width: 650px) {
    .footer_container_small {
        display:  none;
    }
}

@media (max-width:  1023px) {
    .navlink_logo {
    padding-left: 16px;
    }
}

@media (min-width: 375px) {
    .card-columns {
        column-count: 1;
    }
    .altair_card {
        width: 85%;
    }
    .logo {
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 2px;
    }
    .navbar_logo {
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

@media (max-width: 424px) {
    .perc_delay_card_normal {
        display: none;
    }
}


@media (min-width: 425px) {
    .card-columns {
        column-count: 1;
    }
    .altair_card {
        width: 85%;
    }
    .perc_delay_card_small {
        display: none;
    }
}


@media (min-width: 768px) {
    .card-columns {
        column-count: 1;
    }
    .altair_card {
        width: 95%;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 2;
    }
    .altair_card {
        width: 90%;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 2;
    }
    .altair_card {
        width: 95%;
    }
}


/* Resizing of '1 Week', '2 Weeks' etc nav links based on screen size to try to fit on one line */
/* Below 424px, just accept we'll need two rows */
/*@media (max-width: 350px) {*/
@media (max-width: 423px) {
    .weeks_tabs {
        margin-left: auto;
        margin-right: auto;
    }
    .nav-pills .weeks_nav_homepage {
        display: inline;
        color: #697a8b;
        padding-top:  0.3rem;
        padding-bottom: 0.3rem;
        margin-left:auto;
        margin-right:auto;         
        border-radius: 0.75rem;
        margin-left:auto;
        margin-right:auto;         
    }
}

@media (min-width: 424px) and (max-width: 469px) {
    .nav-pills .weeks_nav_homepage {
        display: inline;
        color: #697a8b;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-top: 0.7rem;
        /*padding-bottom: 0.3rem;        */
        border-top-left-radius: 0.75rem;
        border-top-right-radius: 0.75rem;
    }
}

@media (min-width: 470px) {
    .nav-pills .weeks_nav_homepage {
        display: inline;
        color: #697a8b;
        padding-top: 0.7rem;        
        /*padding-bottom: 0.3rem;          */
        border-top-left-radius: 0.75rem;
        border-top-right-radius: 0.75rem;
    }
}


/* On the Lines pages, show the Line beside the Weeks tabs on large screens,
   and above the Weeks tabs on small screens (with a little extra padding
   added in this case to avoid the tabs overlapping with the Line name) */
@media (min-width: 640px) {
    .weeks_nav_line_mobile {
        display: none;
    }
    .weeks_nav_line_desktop {
        margin-right: 2px;
    }
}
@media (max-width: 639px) {
    .weeks_nav_line_desktop {
        display: none;
    }
    .weeks_nav_line_mobile {
        margin-bottom: 5px;
    }
}


.nav-link {
    font-weight: bold;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: #dc3545;
}

/* Hacky way to get the Lines dropdown to not all be highlighted when clicked; instead
   just highlight the Lines part (the dropdown title) when clicked, and have hover-over
   highlight on the options in the dropdown. Basically just fixing the colour of the
   items in the dropdown when clicked, and then forcing the hover-over/focus highlighting
   by using !important */
.navbar-dark .navbar-nav .show>.nav-link {
    color: #ffffff80;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,.75)!important;
}

.homepage-cards {
    border-width: 2px;
}

.card-no-padding {
    padding: 0;
}

.card-no-left-padding {
    padding-left: 0;
}

.card-no-side-padding {
    padding-left: 0;
    padding-right: 0;
}

.summary_bullets {
    margin-top: -15px;
    padding-left: 20px;
}
